extends ../base.pug
include ../mixins/video

block content
    div#videoContainer
        video(src=`/${video.fileUrl}`,data-id=video.id)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value = 0, min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                span#mute
                    i.fas.fa-volume-up
                input(type="range",step="0.1", value = 0.5, min="0", max="1")#volume
            div 
                span#fullScreenBtn
                    i.fas.fa-expand

block scripts
    script(src="/assets/js/videoPlayer.js")