doctype html
html(lang = "ko")
    head 
        title #{pageTitle} | K-TUBE
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        include partials/header
        include partials/nav
        main 
            block content
    include partials/footer